*,
*::after,
*::before {
   box-sizing: border-box !important;
   text-decoration: none !important;
   color: white;
   font-family: "Orbitron", sans-serif;
}

html {
   scroll-snap-type: y mandatory;
}

body {
   margin: 0;
   padding: 0;
   border: 0;
   overflow-x: hidden;
   background-color: #111111;
}
